<h1>Suppers Edit</h1>

<form ng-submit="edit.submit()">
  <input type="hidden" value="_method" method="PUT">

  <div class="form-group">
    <input class="form-control" type="text" name="title" ng-model="edit.supper.title" placeholder="title">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="edit.supper.image" placeholder="image">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="description" ng-model="edit.supper.description" placeholder="description">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" name="maxGuests" ng-model="edit.supper.maxGuests" placeholder="maxGuests">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="location" ng-model="edit.supper.location" placeholder="location">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="date" ng-model="edit.supper.date" placeholder="location">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
