<section class="suppers-show">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- image -->
        <img class="supperImage" ng-src="{{ show.supper.image }}"/>
        <h1 class="showtitle">{{ show.supper.title }}</h1>
        <p>{{ show.supper.description }}</p>
        <h2>Hosted by: <a ui-sref="usersShow({ id: show.supper.host._id })">{{ show.supper.host.username }}</a></h2>
      </div>
      <div class="col-md-3">
        <!-- info -->
        <h1 id="show-menuheader" >Details</h1>
        <!-- <hr /> -->
        <h3 class ="showdetails">Date: {{ show.supper.date }}</h3>
        <h3 class ="showdetails">Places taken: {{ show.supper.guests.length }}</h3>
        <ul>
          <li ng-repeat="guest in show.supper.guests">{{ guest.username }}</li>
        </ul>
        <h3 class ="showdetails">Places Free: {{ show.supper.maxGuests - show.supper.guests.length }}</h3>
        <!-- <h2>Guests Attending: </h2> -->

        <!-- <a class="showbutton" ui-sref="suppersEdit({ id: show.supper._id })">Edit</a> -->
        <br>
        <a class="showbutton" ng-hide="show.supper.host._id === main.user.id" "button" ng-click="show.reservation()">Join Supper</a>
        <br>
        <a class="showbutton" href="javascript:history.back()"> Go Back</a></li>
      </div>
      <div class="col-md-3">
        <!-- menu -->
        <h1 id="show-menuheader" >Menu</h1>
        <hr />
        <h3 class="menuheader">Starter</h3>
        <p>{{ show.supper.menu[0].starter }}</p>
        <hr />
        <h3 class="menuheader">Main</h3>
        <p>{{ show.supper.menu[0].main }}</p>
        <hr />
        <h3 class="menuheader">Dessert</h3>
        <p>{{ show.supper.menu[0].dessert }}</p>
        <hr />
      </div>
    </div>
  </div>
</section>
